@require 'other'
@require 'thing'

// functions
default-fonts()
  font-family: Helvetica Neue, Helvetica, Arial, sans-seif

// selectors
body
  background-color: aliceblue
  #block
    background-color: #a4d4ff
    margin: 0 auto
    width: 400px
    height: 250px
    p
      default-fonts()
      text-align: center

h1, h2, h3
  default-fonts()

h1
  color: red
